/* 
    --- Start General Style
        --- Start Scroll To Top
        --- Global Style owl-carouse
    --- Start import files    
        --- Start Header   
        --- Start Section Slider l
        --- Start Section Blog
        --- Start Section Services
        --- Start Section loading
        --- Start Section Footer
*/
/* Start General Style */
body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  box-sizing: border-box;
  font-family: Arial , Tahoma;
}

.overlay-one {
  background: rgba(0, 0, 0, 0.3);
  width: 100%;
  height: 100%;
}

.overlay-two {
  padding: 10px 0;
  height: auto;
  background-color: rgba(22, 117, 149, 0.77);
}

/* Start Scroll To Top */
#scroll-top {
  width: 43px;
  height: 43px;
  padding: 8px 4px 0;
  color: #DDD;
  background: #167595;
  text-align: center;
  position: fixed;
  right: 17px;
  bottom: 14px;
  border-radius: 50%;
  z-index: 9999;
  display: none;
  cursor: pointer;
}
@media (max-width: 375px) {
  #scroll-top {
    font-size: 12px;
    width: 35px;
    height: 35px;
    padding: 7px 3px 0;
    bottom: 12px;
  }
}

#scroll-top i {
  color: #fff;
}

/* End Scroll To Top */
/* Global Style owl-carousel */
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
  height: 100%;
  padding: 0 30px !important;
  font-size: 35px;
  color: #fff;
  outline: 0;
}

.owl-carousel .owl-nav button.owl-next:hover {
  background: linear-gradient(266deg, #167595, transparent);
}

.owl-carousel .owl-nav button.owl-prev:hover {
  background: linear-gradient(85deg, #167595, transparent);
}

.owl-carousel .owl-nav button.owl-prev, .owl-carousel button.owl-dot {
  float: left;
  background: linear-gradient(85deg, #167595, transparent);
  margin-left: -5px;
}

.owl-carousel .owl-nav button.owl-next {
  float: right;
  background: linear-gradient(266deg, #167595, transparent);
  margin-right: -5px;
}

.owl-theme .owl-dots, .owl-theme .owl-nav {
  position: absolute;
  height: 100%;
  top: -5px;
  width: 100%;
  margin: 0;
  z-index: 1;
}

/* Global Style owl-carousel */
/* End General Style */
/* Start import files */
/* Start Header */
header {
  background-image: url("../images/6.jpg");
  background-size: cover;
  height: 100vh;
  position: relative;
}
header .logo {
  float: left;
}
header .logo h2 {
  color: #fff;
  font-size: 28px;
  padding: 25px 0 0 0;
  margin-bottom: 0;
}
@media (max-width: 375px) {
  header .logo h2 {
    font-size: 22px;
  }
}
header .logo h2 span {
  color: rgba(255, 255, 255, 0.6666);
  margin-right: 5px;
}
@media (max-width: 375px) {
  header .logo h2 span {
    margin-right: 2px;
  }
}
header .logo > span {
  color: rgba(255, 255, 255, 0.6666);
  font-size: 12px;
  margin: -4px 0 0 4px;
  padding: 0;
  position: absolute;
  letter-spacing: 4px;
}
@media (max-width: 375px) {
  header .logo > span {
    font-size: 8px;
    letter-spacing: 3.6px;
  }
}
header nav {
  float: right;
  padding: 25px 0 0 0;
}
header nav .links {
  color: #fff;
  font-size: 18px;
}
@media (max-width: 375px) {
  header nav .links {
    font-size: 15px;
  }
}
header nav .links p {
  display: inline-block;
  margin-right: 8px;
}
@media (max-width: 375px) {
  header nav .links p {
    margin-right: 5px;
  }
}
header nav .links i {
  color: rgba(0, 0, 0, 0.3);
  background-color: #fff;
  padding: 8px;
  border-radius: 2px;
  cursor: pointer;
}
@media (max-width: 375px) {
  header nav .links i {
    padding: 5px;
  }
}
header .home {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
}
header .home h2 {
  color: #fff;
  margin-bottom: 50px;
  font-size: 38px;
}
@media (max-width: 575px) {
  header .home h2 {
    font-size: 33px;
  }
}
@media (max-width: 375px) {
  header .home h2 {
    font-size: 28px;
  }
}
header .home .other {
  background-color: rgba(255, 255, 255, 0.22233333);
  width: 45%;
  margin: auto;
  margin-bottom: -130px;
  height: 230px;
  border-left: 10px solid #167595;
  position: relative;
}
@media (max-width: 991px) {
  header .home .other {
    width: 60%;
  }
}
@media (max-width: 375px) {
  header .home .other {
    height: 180px;
    width: 78%;
    border-left: 8px solid #167595;
  }
}
header .home .other::before {
  content: " ";
  position: absolute;
  width: 21px;
  height: 7px;
  background-color: #fff;
  left: -13px;
  top: -4px;
  border-radius: 3px;
}
@media (max-width: 375px) {
  header .home .other::before {
    height: 5px;
    width: 18px;
  }
}
header .home .other::after {
  content: " ";
  position: absolute;
  width: 21px;
  height: 7px;
  background-color: #fff;
  left: -13px;
  bottom: -4px;
  border-radius: 3px;
}
@media (max-width: 375px) {
  header .home .other::after {
    height: 5px;
    width: 18px;
  }
}
header .home .other span.one {
  color: #f1f1f1de;
  position: absolute;
  left: 5px;
  top: 4px;
  font-size: 14px;
}
@media (max-width: 375px) {
  header .home .other span.one {
    font-size: 12px;
  }
}
header .home .other span.two {
  color: #f1f1f1de;
  position: absolute;
  left: 5px;
  bottom: 4px;
  font-size: 14px;
}
@media (max-width: 768px) {
  header .home .other span.two {
    display: none;
  }
}
header .home .other .form {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
}
header .home .other .form input[type="text"] {
  width: 79%;
  padding: 10px;
  margin: 12px -1px 0;
  border: 0;
  outline: 0;
  color: #167595;
}
@media (max-width: 768px) {
  header .home .other .form input[type="text"] {
    width: 100%;
  }
}
@media (max-width: 375px) {
  header .home .other .form input[type="text"] {
    padding: 6px;
    margin: 8px auto 0;
  }
}
header .home .other .form input[type="submit"] {
  width: 20%;
  padding: 10px;
  margin: 12px 0;
  border: 0;
  color: #f1f1f1de;
  background-color: #167595;
  outline: 0;
  display: inline-block;
}
@media (max-width: 768px) {
  header .home .other .form input[type="submit"] {
    width: 40%;
    margin: 10px auto;
  }
}
@media (max-width: 375px) {
  header .home .other .form input[type="submit"] {
    padding: 6px;
    margin: 8px auto;
  }
}
header .home .other .form .buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
header .home .other .form .buttons button {
  border: 0;
  display: inline-block;
  padding: 10px;
  width: 23%;
  margin: 0px;
  background-color: rgba(0, 0, 0, 0.6);
  color: #f1f1f1de;
  transition: all 0.3s ease-in-out;
  outline: 0;
}
@media (max-width: 768px) {
  header .home .other .form .buttons button {
    width: 40%;
  }
}
header .home .other .form .buttons button:hover {
  background-color: #167595;
}
@media (max-width: 375px) {
  header .home .other .form .buttons button {
    padding: 6px;
  }
}
@media (max-width: 768px) {
  header .home .other .form .buttons button.b {
    display: none;
  }
}
header .home .other .form .buttons button.blue {
  background-color: #167595;
}
header .home .other p {
  margin: 0;
  display: inline-block;
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: #167595;
  padding: 5px;
  border-top-left-radius: 7px;
  color: #f1f1f1de;
  font-size: 14px;
}
@media (max-width: 375px) {
  header .home .other p {
    font-size: 11px;
  }
}

/* End Header */
/* Start Section Slider */
.slider {
  background-color: #167595;
  width: 100%;
  height: auto;
  padding: 30px 20px 45px 30px;
}
.slider h2 {
  color: #fff;
  padding: 0 0 15px;
  text-align: center;
  font-size: 24px;
}
@media (max-width: 375px) {
  .slider h2 {
    font-size: 18px;
  }
}
.slider .image {
  margin: 0 10px !important;
}
.slider .image img {
  width: 100%;
  height: auto;
}
@media (max-width: 375px) {
  .slider .image img {
    margin: auto;
    width: 80%;
  }
}

/* End Section Slider */
/* Start Section Blog */
.blog {
  padding: 50px 0;
}
.blog .blog-header h2 {
  color: #167595;
  font-size: 24px;
  border: 2px solid #167595;
  display: inline-block;
  padding: 8px 10px;
  margin-bottom: 50px;
}
@media (max-width: 575px) {
  .blog .blog-header h2 {
    font-size: 22px;
  }
}
@media (max-width: 375px) {
  .blog .blog-header h2 {
    font-size: 18px;
    padding: 6px 8px;
  }
}
.blog .blog-info {
  text-align: left;
  margin-bottom: 25px;
  border: 0.5px solid #f5f5f5;
  transition: box-shadow 0.3s ease-in-out;
}
.blog .blog-info:hover {
  box-shadow: 1px 1px 5px 1px #555;
  border: 0;
}
.blog .blog-info span {
  color: #888;
}
.blog .blog-info .intro {
  position: relative;
}
.blog .blog-info .intro img {
  width: 100%;
  outline: 0;
}
.blog .blog-info .intro ul {
  position: absolute;
  right: 0;
  bottom: 0;
  margin: 0;
}
.blog .blog-info .intro ul li {
  display: inline-block;
  padding: 4px 6px;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
@media (max-width: 375px) {
  .blog .blog-info .intro ul li {
    padding: 3px 5px;
  }
}
.blog .blog-info .intro button {
  color: #fff;
  background-color: #167595;
  border: 0;
  padding: 8px 10px;
  width: 40%;
  position: absolute;
  left: 0;
  bottom: -18px;
  outline: 0;
}
@media (max-width: 375px) {
  .blog .blog-info .intro button {
    padding: 6px 8px;
  }
}
.blog .blog-info .blog-info-content .blog-info-header {
  color: #167595;
  font-size: 25px;
  margin: 20px 0 10px;
  padding-top: 4px;
}
@media (max-width: 375px) {
  .blog .blog-info .blog-info-content .blog-info-header {
    font-size: 20px;
  }
}
.blog .blog-info .blog-info-content .bolg-info-desc {
  color: #666;
}
@media (max-width: 375px) {
  .blog .blog-info .blog-info-content .bolg-info-desc {
    font-size: 14px;
  }
}
.blog .blog-info .blog-info-content table {
  margin-top: 10px;
}
.blog .blog-info .blog-info-content table th, .blog .blog-info .blog-info-content table td {
  padding: 9px;
  border: 1px solid #f5f5f5;
  color: #777;
}
@media (max-width: 375px) {
  .blog .blog-info .blog-info-content table th, .blog .blog-info .blog-info-content table td {
    padding: 6px;
  }
}
.blog .blog-info .blog-info-content table tr td.tab {
  color: #167595;
  font-size: 18px;
}
@media (max-width: 375px) {
  .blog .blog-info .blog-info-content table tr td.tab {
    font-size: 17px;
  }
}

/* End Section Blog */
/* Start Section Services */
.services {
  padding: 50px 0;
}
.services .services-header h2 {
  color: #167595;
  font-size: 24px;
  border: 2px solid #167595;
  display: inline-block;
  padding: 8px 10px;
  margin-bottom: 50px;
}
@media (max-width: 575px) {
  .services .services-header h2 {
    font-size: 22px;
  }
}
@media (max-width: 375px) {
  .services .services-header h2 {
    font-size: 18px;
    padding: 6px 8px;
  }
}
.services .services-content {
  position: relative;
  margin-bottom: 30px;
}
.services .services-content img {
  width: 100%;
}
.services .services-content .social {
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 100%;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}
.services .services-content .social li {
  padding: 10px;
  color: #fff;
  background: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}
@media (max-width: 375px) {
  .services .services-content .social li {
    padding: 7px;
  }
}
.services .services-content .social li:hover {
  background-color: #167595;
}
.services .services-content:hover .over {
  display: block;
}
.services .services-content .over {
  position: absolute;
  width: 80%;
  height: 80%;
  display: none;
  margin: auto;
  background: rgba(22, 117, 149, 0.6);
  top: 10%;
  bottom: 10%;
  left: 10%;
  right: 10%;
  color: #fff;
  padding: 50px 0;
}
@media (max-width: 575px) {
  .services .services-content .over {
    padding: 35px 0;
  }
}
@media (min-width: 769px) and (max-width: 991px) {
  .services .services-content .over {
    padding: 70px 0 0;
  }
}
@media (min-width: 992px) and (max-width: 1250px) {
  .services .services-content .over {
    padding: 20px 0;
  }
}
@media (max-width: 375px) {
  .services .services-content .over {
    padding: 15px 0;
    left: 15px;
    right: 5px;
  }
}
.services .services-content .over .over-title {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 15px;
}
@media (max-width: 768px) {
  .services .services-content .over .over-title {
    font-size: 20px;
    margin-bottom: 10px;
  }
}
@media (max-width: 375px) {
  .services .services-content .over .over-title {
    font-size: 18px;
    margin-bottom: 5px;
  }
}
.services .services-content .over .over-desc {
  font-size: 18px;
  color: #f5f5f5;
  margin-bottom: 5px;
}
@media (max-width: 768px) {
  .services .services-content .over .over-desc {
    font-size: 16px;
    margin-bottom: 3px;
  }
}
@media (max-width: 375px) {
  .services .services-content .over .over-desc {
    font-size: 14px;
    margin-bottom: 3.5px;
  }
}
.services .services-content .over .over-price {
  font-style: italic;
}
@media (max-width: 375px) {
  .services .services-content .over .over-price {
    font-size: 14px;
    margin-bottom: 3.5px;
  }
}
.services .services-content .over .over-price span {
  font-weight: bold;
}
.services .services-content .over button {
  border: 0;
  padding: 10px;
  background-color: #f5f5f5;
  color: #167595;
  font-weight: 600;
  font-size: 20px;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .services .services-content .over button {
    border: 0;
    padding: 5px;
    font-size: 16px;
    border-radius: 5px;
  }
}
@media (max-width: 375px) {
  .services .services-content .over button {
    padding: 4px;
    font-size: 14px;
    border-radius: 3px;
  }
}
.services .services-content .over ul {
  position: absolute;
  right: 0;
  margin: 0;
  bottom: 10px;
}
@media (max-width: 575px) {
  .services .services-content .over ul {
    bottom: 0px;
  }
}
@media (min-width: 769px) and (max-width: 991px) {
  .services .services-content .over ul {
    bottom: 10px;
  }
}
@media (min-width: 992px) and (max-width: 1250px) {
  .services .services-content .over ul {
    bottom: 0px;
  }
}
.services .services-content .over ul li {
  display: inline-block;
  padding: 10px 12px;
  color: #167595;
  background: #f5f5f5;
  cursor: pointer;
  margin-right: 10px;
  border-radius: 3px;
}
@media (max-width: 768px) {
  .services .services-content .over ul li {
    padding: 5px 7px;
  }
}
@media (max-width: 375px) {
  .services .services-content .over ul li {
    padding: 4px 6px;
    margin-right: 8px;
    font-size: 14px;
  }
}

/* End Section Services */
/* Start Section Loading */
.loading-overlay {
  background: #167595;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
}

.sk-cube-grid {
  width: 65px;
  height: 65px;
  margin: 300px auto;
}
@media (max-width: 375px) {
  .sk-cube-grid {
    width: 35px;
    height: 35px;
  }
}

.sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #fff;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
  animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
}

.sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

.sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
  animation-delay: 0.1s;
}

.sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
    transform: scale3D(1, 1, 1);
  }
  35% {
    -webkit-transform: scale3D(0, 0, 1);
    transform: scale3D(0, 0, 1);
  }
}
/* End Section Loading */
/* Start Section Footer */
.footer {
  background-image: url(../images/6.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
.footer .title {
  padding: 40px 0 10px;
  z-index: 1;
}
@media (max-width: 375px) {
  .footer .title {
    padding: 25px 0 8px;
  }
}
.footer .title h2 {
  color: white;
}
@media (max-width: 375px) {
  .footer .title h2 {
    font-size: 20px;
  }
}
.footer .title p {
  color: #f5f5f5;
  font-size: 14px;
  font-weight: lighter;
}
@media (max-width: 375px) {
  .footer .title p {
    font-size: 12px;
  }
}
.footer .content {
  padding: 60px 0 20px;
}
@media (max-width: 375px) {
  .footer .content {
    padding: 20px 0 15px;
  }
}
.footer .content .mar {
  margin-bottom: 30px;
}
@media (max-width: 375px) {
  .footer .content .mar {
    margin-bottom: 20px;
  }
}
.footer .content .mar .anew .button {
  border: 2.5px solid #f5f5f5;
  width: 145px;
  padding: 13px 12px;
  margin-bottom: 30px;
}
@media (max-width: 375px) {
  .footer .content .mar .anew .button {
    width: 108px;
  }
}
.footer .content .mar .anew .button h2 {
  color: #222;
  font-size: 30px;
  border-bottom: 5px solid #f5f5f5;
  border-radius: 5px;
}
@media (max-width: 375px) {
  .footer .content .mar .anew .button h2 {
    font-size: 20px;
    margin-bottom: 3px solid #f5f5f5;
  }
}
.footer .content .mar .anew .button h2 span {
  color: #f5f5f5;
  font-size: 20px;
}
@media (max-width: 375px) {
  .footer .content .mar .anew .button h2 span {
    font-size: 14px;
  }
}
.footer .content .mar .anew p {
  color: #f5f5f5;
}
@media (max-width: 375px) {
  .footer .content .mar .anew p {
    font-size: 12px;
  }
}
.footer .content .mar .contact {
  background-color: rgba(255, 255, 255, 0.5);
  padding: 25px 35px;
  margin-bottom: 30px;
}
@media (max-width: 375px) {
  .footer .content .mar .contact {
    padding: 10px 15px;
  }
}
.footer .content .mar .contact input[type="text"] {
  color: #167595;
  padding: 7px 5px;
  width: 80%;
  border: 0;
  margin-right: -5px;
  outline: 0;
}
@media (max-width: 375px) {
  .footer .content .mar .contact input[type="text"] {
    padding: 5px 3px;
    width: 90%;
    margin: 5px auto;
    text-align: center;
  }
}
.footer .content .mar .contact input[type="submit"] {
  width: 20%;
  border: 0;
  padding: 7px 5px;
  color: #fff;
  background-color: #167595;
  outline: 0;
}
@media (max-width: 375px) {
  .footer .content .mar .contact input[type="submit"] {
    width: 40%;
    margin: 5px auto;
    padding: 5px 3px;
  }
}
.footer .content .mar h4 {
  color: #fff;
}
@media (max-width: 375px) {
  .footer .content .mar h4 {
    font-size: 14px;
  }
}
.footer .content .mar ul li {
  color: #f5f5f5;
  font-size: 14px;
}
@media (max-width: 375px) {
  .footer .content .mar ul li {
    font-size: 12px;
  }
}
.footer .content .mar .pa {
  padding: 0;
  margin-top: 110px;
}
@media (max-width: 991px) {
  .footer .content .mar .pa {
    margin-top: 10px;
  }
}
.footer .coryright hr {
  height: 1px;
  background-color: #f1f1f1;
}
.footer .coryright h6 {
  color: #f5f5f5;
  margin: 10px;
}
@media (max-width: 375px) {
  .footer .coryright h6 {
    font-size: 12px;
  }
}

/* End Section Footer */
/* End import files */

/*# sourceMappingURL=style.css.map */
